<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top border border-dark border-top-0 border-end-0">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Logo</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="nav justify-content-center">
          <a class="nav-link h5 text-dark" aria-current="page" href="/home">Inicio</a>
          <li class="nav-item dropdown">
            <a class="nav-link  h5 text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cursos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/html">Desarrollo Web</a></li>
              <li><a class="dropdown-item" href="/css">CSS</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
              <li><a class="dropdown-item" href="#">JavaScript</a></li>
              <li><a class="dropdown-item" href="#">Bootstrap 5</a></li>
              <li><a class="dropdown-item" href="#">MongoDB</a></li>
              <li><a class="dropdown-item" href="#">Nodejs</a></li>
              <li><a class="dropdown-item" href="#">Express</a></li>
              <li><a class="dropdown-item" href="#">Angular</a></li>

            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link  h5 text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Diplomados
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/front-junior">FrontEnd Junior</a></li>
              <li><a class="dropdown-item" href="#">FrontEnd Senior</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
              <li><a class="dropdown-item" href="#">FrontEnd Advance</a></li>
             

            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link h5 text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Carrera
            </a>
            <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item " href="/full-stack">Desarrollo FullStack</a></li>
              <li><a class="dropdown-item" href="#">FullStack con Vue js</a></li>
              <li><a class="dropdown-item" href="#">FullStack con Angular</a></li>
              <li><a class="dropdown-item" href="#">FullStack con Reactive</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
              <li><a class="dropdown-item" href="#">Desarrollo BackEnd</a></li>           
            <li><a class="dropdown-item" href="#">Aplicaciones con React Native</a></li>             
            </ul>
          </li>
        
          
          <a class="nav-link h5 text-dark" href="/contacto">Contactos</a>

        
        </div>
        
  
        <div class="navbar-nav ms-auto">
            
          <a class="btn btn-primary me-2 " href="/login">Iniciar Sesion</a>
          <a class="btn btn-primary" href="/register">Registrarse</a>
        </div>
  
      </div>
    </div>
  </nav>




            
    


