<section class="mt-4 ">
    
    <section class="d-flex justify-content-center ">
      <div class="card col-sm-6 p-3 bg-info text-white">
        <div class="mb-3 ">
    
        </div>
        <div class="mb-2 ">
          <form action="">
              <h2>¡ Solo tomará unos minutos !</h2>
              <p>Completa el siguiente formulario y en plazo máximo de 24h te responderemos</p>
            <div class="mb-2">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" name="nombre" id="nombre" placeholder="ej: Juan"  required />
            </div>
            <div class="mb-2">
              <label for="apellido">Apellido</label>
              <input type="text" class="form-control" name="apellido" id="apellido" placeholder="ej: Rodriguez" required />
            </div>
            <div class="mb-2">
              <label for="correo">Correo</label>
              <input type="text" class="form-control" name="correo" id="correo" placeholder="ej: j...@gmail.com"  required />
            </div>
            <div class="mb-2">
              <label for="phone">Telefono</label>
              <input type="number" class="form-control" name="phone" id="phone" placeholder="ej: 23456789"  required />
            </div>
            <select class="form-select " aria-label="Default select example">
              
              <option selected>Selecciona tu preferencia</option>
              <option value="1">Cursos</option>
              <option value="2">Diplomados</option>
              <option value="3">carreras</option>
            </select>
            <div class="mb-2">
              <label for="sexo">Sexo</label><br>
              <input type="radio" name="sexo" id="masculino" value="masculino"/> Masculino <br>
              <input type="radio" name="sexo" id="femenino" value="femenino"/> Femenino
            </div>
            <div class="mb-2">
              <label for="mensaje">Mensaje</label>
              <textarea name="mensaje" id="mensaje" class="form-control" placeholder="ej: hola"></textarea>
          </div>
          <div class="mb-2">
            <button class="btn btn-primary">Enviar</button>
          </div>
          </form>
        </div>
      </div>
    </section>
  </section>