  <!-- information 1 -->
  <div class="all">
    <div class="row row-cols-1 row-cols-md-3 g-4 p-5 ">
      <div class="col-sm-6">
          <div class="card border-0">
            <div class="wrapper">            
              <ul class="dynamic-txts">
                <li><span class="item-1">Desarrollo De</span></li>
                <li><span class="item-2">Aplicaciones</span></li>
                <li><span class="item-3">Web & Móvil</span></li>             
              </ul>
            </div>
              
              <h1 class="card-title ">  </h1>
              <p class="card-text h4 ">Diseña y construye aplicaciones móviles y web con nuestros cursos especializados </p>
              <a href="#" class="btn btn-primary">Más Información</a>
            
          </div>
        </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/img/javascrip.jpg" style="height: 16rem;" class="card-img-top " alt="...">
          <div class="card-body">
              <p class="card-text h4">Curso de JavaScript de 0 a 100, conviertete en un experto</p>
              <a href="/java-script" class="h5">Ver Más</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/img/hybrid-app.jpg" style="height: 16rem;" class="card-img-top " alt="...">
          <div class="card-body">
              <p class="card-text h4">Curso Completo de Aplicaciones Híbridas</p>
              <a href="#" class="h5">Proximamente</a>
          </div>
        </div>
      </div>
     
    </div>
    
  
    <!-- carrusel de logos -->
  
    <div class="containers text-center">
      <div>Some tags before</div>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>Slide 1</ng-template>  
      <ng-template carouselSlide>Slide 2</ng-template>  
      <ng-template carouselSlide>Slide 3</ng-template>  
      <ng-template carouselSlide>Slide 4</ng-template>  
      <ng-template carouselSlide>Slide 5</ng-template>  
      <ng-template carouselSlide>Slide 6</ng-template>  
      <ng-template carouselSlide>Slide 7</ng-template>  
    </owl-carousel-o>
    <div>Some tags after</div>
    </div>
  
    
  
    
    <!-- temas de cursos -->
  
    
  
    <div class="text-center mt-5">
        <h2 id="cursos">Nuestros Cursos</h2>
    </div>
         
        
        <div class="row row-cols-1 row-cols-md-4 g-4 p-5 ">    
          <div class="col">
            <div class="card">
              <img src="../../../assets/img/Las-fases-del-desarrollo-de-una-web.jpg" class="card-img-top" alt="..." style="height: 12rem;">
              <div class="card-body">
                  <p class="card-text h4">Curso Desarrollo Web</p>
                  <a href="/html">Ver Más</a>
              </div>
            </div>
          </div>
          <div class="col">
              <div class="card">
                <img src="../../../assets/img/css.png" class="card-img-top" alt="..." style="height: 12rem;">
                <div class="card-body">
                    <p class="card-text h4">Curso de CSS </p>
                    <a href="/css">Ver Más</a>
                </div>
              </div>
            </div>
          <div class="col">
            <div class="card">
              <img src="../../../assets/img/javascrip.jpg" class="card-img-top" alt="..." style="height: 12rem;">
              <div class="card-body">
                  <p class="card-text h4">Curso JavaScript</p>
                  <a href="/java-script">Ver Más</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../../../assets/img/bootstrap.jpg" class="card-img-top" alt="..." style="height: 12rem;">
              <div class="card-body">
                  <p class="card-text h4">Curso Bootstrap 5</p>
                  <a href="/bootstrap">Ver Más</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../../../assets/img/mongo.png" class="card-img-top" alt="..." style="height: 12rem;">

              <div class="card-body">
                  <p class="card-text h4">Curso MongoDB</p>
                  <a href="/mongo-db">Ver Más</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../../../assets/img/nodejs-t1.jpg" class="card-img-top" alt="..." style="height: 12rem;">

              <div class="card-body">
                  <p class="card-text h4">Curso NodeJs</p>
                  <a href="/node-js">Ver Más</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../../../assets/img/express.jpg" class="card-img-top" alt="..." style="height: 12rem;">

              <div class="card-body">
                  <p class="card-text h4">Curso de Express</p>
                  <a href="/express">Ver Más</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../../../assets/img/AngularJS-A1.jpg" class="card-img-top" alt="..." style="height: 12rem;">

              <div class="card-body">
                  <p class="card-text h4">Curso Angular</p>
                  <a href="/angular">Ver Más</a>
              </div>
            </div>
          </div>         
  
      </div>
      <hr class="p-1">


    <!-- nuestros diplomados -->

    <div class="text-center mt-5">
      <h2 id="cursos">Nuestros Diplomados</h2>
  </div>
       
      
      <div class="row row-cols-1 row-cols-md-4 g-4 p-5 d-flex align-items-center justify-content-center">    
        <div class="col">
          <div class="card">
            <img src="../../../assets/img/frontend-junior.png" class="card-img-top" alt="..." style="height: 12rem;">
            <div class="card-body">
                <p class="card-text h4">FrontEnd Junior</p>
                <a href="/front-junior">Ver Más</a>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="../../../assets/img/frontend.jpg" class="card-img-top" alt="..." style="height: 12rem;">
              <div class="card-body">
                  <p class="card-text h4">FrontEnd Senior</p>
                  <a href="/front-senior">Ver Más</a>
              </div>
            </div>
          </div>
        <div class="col">
          <div class="card">
            <img src="../../../assets/img/front-senior.jpg.crdownload" class="card-img-top" alt="..." style="height: 12rem;">
            <div class="card-body">
                <p class="card-text h4">FrontEnd-Advanced</p>
                <a href="/front-advance">Ver Más</a>
            </div>
          </div>
        </div>           

    </div>

    <hr class="p-1">


    <!-- nuestras carreras -->


    <div class="text-center mt-5">
      <h2 id="cursos">Nuestras Carreras</h2>
  </div>      
      
      <div class="row row-cols-1 row-cols-md-4 g-4 p-5 d-flex align-items-center justify-content-center">    
        <div class="col">
          <div class="card">
            <img src="../../../assets/img/fullstack.jpg" class="card-img-top" alt="..." style="height: 12rem;">
            <div class="card-body">
                <p class="card-text h4">Desarrollo Full Stack Development</p>
                <a href="/full-stack">Ver Más</a>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="../../../assets/img/Desarrollo-Full-Stack-MEVN-MongoDB-Express-VueJS-y-NodeJS.jpg" class="card-img-top" alt="..." style="height: 12rem;">
              <div class="card-body">
                  <p class="card-text h4">Desarrollo Full Stack con Vue js </p>
                  <a href="/full-stack-vue">Ver Más</a>
              </div>
            </div>
          </div>
        <div class="col">
          <div class="card">
            <img src="../../../assets/img/nodejs-t1.jpg" class="card-img-top" alt="..." style="height: 12rem;">
            <div class="card-body">
                <p class="card-text h4">Desarrollo Full Stack con Node js</p>
                <a href="/node-js">Ver Más</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../../assets/img/AngularJS-A1.jpg" class="card-img-top" alt="..." style="height: 12rem;">
            <div class="card-body">
                <p class="card-text h4">Desarrollo Full Stack con Angular js</p>
                <a href="/angular">Ver Más</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../../assets/img/mern.jpg" class="card-img-top" alt="..." style="height: 12rem;">

            <div class="card-body">
                <p class="card-text h4">Desarrollo Full Stack con React js</p>
                <a href="/full-stack-reactive">Ver Más</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../../assets/img/react-native.png" class="card-img-top" alt="..." style="height: 12rem;">

            <div class="card-body">
                <p class="card-text h4">Desarrollo Full Stack con React Native</p>
                <a href="/app-reactnative">Ver Más</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../../assets/img/backend.png" class="card-img-top" alt="..." style="height: 12rem;">

            <div class="card-body">
                <p class="card-text h4">Desarrollo Full Stack BackEnd</p>
                <a href="/desarrollo-back-end">Ver Más</a>
            </div>
          </div>
        </div>
              

    </div>

    
      
      
      
      <!-- como trabajamops -->
  
    <div  class="text-center mt-5">
      <h2>¿Como lo hacemos posible?</h2>
    </div>
  
    <div class="row row-cols-1 row-cols-md-4 g-3 p-5 text-center">
      <div class="col">
        <div class="card bg-primary text-white text-center ">
          <div class="containers text-center">
            <img src="../../../assets/img/01.png" class="card-img-top" style="width: 5rem;" alt="...">
          </div>
          
          <div class="card-body " >
            <h5 class="card-title h4">Preparación</h5>
            <p class="card-text">Contamos con una metodología y un seguimiento continuo.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-primary text-white">
          <div class="containers text-center">
            <img src="../../../assets/img/03.png" class="card-img-top" style="width: 5rem;" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title h4">Oportunidades</h5>
            <p class="card-text">Certificaciones, oportunidades laborales disponible para todos nuestros alumnos.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-primary text-white">
          <div class="containers text-center">
            <img src="../../../assets/img/04.png" class="card-img-top" style="width: 5rem;" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title h4">Videos Online</h5>
            <p class="card-text">Creamos videos donde las personas puedan conocer los cursos que brindamos.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-primary text-white">
          <div class="containers text-center">
            <img src="../../../assets/img/02.png" class="card-img-top" style="width: 5rem;" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title h4">Pruebas</h5>
            <p class="card-text">Cada módulo cuenta con prácticas que te ayudará a mejorar constantemente.</p>
          </div>
        </div>
      </div>
    </div>
  
  
  
  <!-- proximos cursos -->
    <div class="text-center mt-5">
      <h2>Proximos Cursos</h2>
  
      <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
        <div class="col">
          <div class="card h-100">
            <img src="../../../assets/img/amazon1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Amazon Web Service - Architecting On AWS</h5>
              <a href="#" class="h5">Proximamente</a>
            </div>
           
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../../../assets/img/azure.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Implementación Y Diseño En Microsoft Azure</h5>
              <a href="#" class="h5">Proximamente</a>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../../../assets/img/dba.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">MySQL ORACLE</h5>
              <a href="#" class="h5">Proximamente</a>
            </div>
            
          </div>
        </div>
      </div> 
     
  
  
  
  
  
  <!-- ppr qye elegirnos -->
  <div class="text-center mt-5">
    <h2>¿Por Que Estudiar con Nosotros?</h2>
  </div>
  
  
  
  <!-- suscriciopn -->
  
  
  
  <nav class="navbar navbar-primary bg-primary p-3">
    <div class="container-fluid">
      <div class="col-lg-6 col-md-6 col-sm-12 column-item text-white">
        <h2 class="form-subs__title wow fadeIn" data-wow-duration="1s" data-wow-delay="0.002s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.002s; animation-name: fadeIn;"> Suscríbete a nuestro boletín</h2>
        <p class="form-subs__sub">Para nuevos cursos increíbles y una campaña de promoción especial!</p>
     </div>
     <div class="row g-3 align-items-center">
      
      <div class="col-auto">
        <input type="email" id="inputemail" class="form-control" aria-describedby="emailHelpInline">
      </div>
      <div class="col-auto">
        <a href="#" class="btn btn-success">Registrate Ahora</a>
      </div>
    </div>
    </div>
  </nav>
  
  
  
  
  
  
 
  <!--Testimonios-->
<section id="Testimonio" class="text-center">
  <h2 class="my-5 text-black">Testimonios</h2>

  <div class="row justify-content-center">
    <div class="col-md-4"><div class="card mb-3" style="max-width: 540px;">
<div class="row g-0">
  <div class="col-md-4">
    <img
      src="./assets/img/test1.jpg"
      alt="Trendy Pants and Shoes"
      class="img-fluid rounded-start"
    />
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title">Carlos Montoya</h5>
      <p class="card-text">
        De verdad que es una página web donde puedes conseguir variedad de charlas
        y cursos muy prácticos.
      </p>
      <p class="card-text">
        <small class="text-muted">Last updated 30 mins ago</small>
      </p>
    </div>
  </div>
</div>
</div></div>
    <div class="col-md-4"><div class="card mb-3" style="max-width: 540px;">
<div class="row g-0">
  <div class="col-md-4">
    <img
      src="./assets/img/test2.jpg"
      alt="Trendy Pants and Shoes"
      class="img-fluid rounded-start"
    />
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title">Juliana Vega</h5>
      <p class="card-text">
        Me encantó la charla del Dr Ivan sobre la nutrición, explica  todo muy sencillo y 
        fácil de entender lo recomiendo 100%.
      </p>
      <p class="card-text">
        <small class="text-muted">Last updated 15 mins ago</small>
      </p>
    </div>
  </div>
</div>
</div></div>
    <div class="col-md-4"><div class="card mb-3" style="max-width: 540px;">
<div class="row g-0">
  <div class="col-md-4">
    <img
      src="./assets/img/test3.jpg"
      alt="Trendy Pants and Shoes"
      class="img-fluid rounded-start"
    />
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title">Michael Ramírez</h5>
      <p class="card-text">
        "Las charlas motivacionales me han ayudado y motivado a realizar mejor mi trabajo e 
        igualmente con todos mis compañeros hemos visto un cambio de mentalidad y actitud"
      </p>
      <p class="card-text">
        <small class="text-muted">Last updated 3 mins ago</small>
      </p>
    </div>
  </div>
</div>
</div>
</div>

  </div>
</section> <!--Fin Testimonios-->

  
  
</div>

  