
<div class="container-fluid-expand-lg ">
    <nav class="navbar navbar-light bg-light p-5">
        <div class="container-fluid">
          <h1 class="navbar-text text-dark ">
            Desarrollo web
          </h1> <br>
          <P class="fs-4">Este curso va destinado para personas que no tienen ningún conocimiento en programación y desean ingresar al mundo de la tecnología.</P>
        </div>
        
      </nav>

      <div class="p-5 bg-info text-white">
        <h2 >Conoce Un Poco Más Sobre El Curso</h2>
        <p class="fs-5">Este curso va destinado para personas que no tienen ningún conocimiento en programación y desean ingresar al mundo de la tecnología. Aprenderás a desarrollar una página web responsive (adaptable a móviles) desde cero ya sea para ti mismo, para tu trabajo o para tu propia empresa.</p>
      </div>

      <div class="bg-ligth">
        <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
          <div class="col">
            <div class="card">
              <img src="../../../assets/img/cursos/bundle-icon-2.png" style="width: 3rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">1 Módulos</h5>
                <p class="card-text">Estructurados en base a temas y dificultad</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../../../assets/img/cursos/bundle-icon-1.png" style="width: 3rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Proyecto</h5>
                <p class="card-text">Diseñado para ayudarlo a practicar y aplicar las habilidades que aprende</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../../../assets/img/cursos/bundle-icon-3.png" style="width: 3rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Certificado</h5>
                <p class="card-text">Destaque sus nuevas habilidades en su currículum o LinkedIn.</p>
              </div>
            </div>
          </div>        
        </div>
      </div>

      
<!-- perfil profesional -->
      <div class="p-5 bg-info text-white" >
        <h2> <i>PERFIL PROFESIONAL</i> </h2>
        <p class="fs-3">Al finalizar el curso de Desarrollo web podrás:</p>
        <ul class="fs-4">
          <li>Prototipar un sitio web.</li>
          <li>Maquetar una web con HTML y CSS, siguiendo las mejores prácticas.</li>
          <li>Crear animaciones con CSS.</li>
          <li>Manejar SASS como preprocesador, y BEM como metodología.</li>
          <li>Versionar tú código con GIT y GitHub.</li>
          <li>Trabajar con Boostrap y con Material Design.</li>         
        </ul>
      </div>

      <!-- temario -->

      <div class="p-5 fs-6 ">
        <h2><i>TEMARIO</i></h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card">
              
              <div class="card-body">
                <ul>
                  <li>Introducción al Desarrollo Web
                    (optativa)</li>
                  <li>Prototipado y conceptos básicos
                    de HTML</li>
                  <li>Primeros pasos con HTML</li>
                  <li>Incluyendo CSS a nuestro proyecto</li>
                  <li>CSS + Box Modeling</li>
                  <li>Flexbox</li>
                </ul>
                
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              
              <div class="card-body">
                <ul>
                  <li>Grids</li>
                  <li>Grids v2</li>
                  <li>Animaciones, transformaciones y
                    transiciones</li>
                  <li>Git</li>
                  <li>Github</li>
                  <li>Frameworks CSS + Bootstraps</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              
              <div class="card-body">
                <ul>
                  <li>@Media + Pseudoclases</li>
                  <li>SASS I</li>
                  <li>SASS II</li>
                  <li>Servidores y SEO para tu sitio</li>
                  <li>Subida al servidor</li>
                  <li>Conociendo a nuestro cliente</li>
                  <li>Proyecto final</li>
                </ul>
              </div>
            </div>
          </div>
         
        </div>
      </div>
<!-- dirigido a  -->
      <div class="p-5 text-center bg-info text-white">
        <h2 >Dirigido A</h2>
        <img src="../../../assets/img/banner.png"  class="img-fluid" alt="" srcset="">
        <p class="fs-5">Emprendedores, profesionales, estudiantes y público en general, interesados en desarrollar páginas web</p>
      </div>
<!-- metodologia  -->
      <div class="p-5">
          <h2>Metodología y Certificación</h2>
          <p class="fs-5">La metodología de enseñanza tiene un enfoque práctico en cada una de las sesiones a lo largo del curso. Para el aprendizaje del alumno será necesaria su participación activa, ya que no solo favorecerá a su aprendizaje sino también a la aplicación en situaciones reales en el tema laboral. <br><br>

            Al completar el curso satisfactoriamente se otorgará al participante un Certificado en Desarrolllo Web</p>
      </div>

      <!-- costos  -->


      <div>
        <h2 class="p-5 text-center" >Nuestros Planes</h2>
      </div>

      <div class="row row-cols-1 rounded-3 row-cols-md-2 g-4 h4 d-flex align-items-center justify-content-center">
        <div class="col">
          <div class="card bg-primary text-white tex">             
            <div class="card-body">
              <h2 class="card-title ">Plan Beca</h2>
              <p class="card-text fs-2">$ 000.000 COP</p>
              <p class="card-text">hasta 3 cuotas sin interés de</p> <br>
              <p class="card-text">Obtendrás</p>
              <ul >
                <li>  Clases online en vivo</li>
                <li>  Desafíos y Proyecto final</li>
                <li>  Acceso a bolsa laboral y proyectos freelance</li>
                <li>  Las clases quedarán grabadas</li> <br><br>
                <h2>Requisitos</h2>
                <li>  85% de asistencia en vivo </li>
                <li>  Entregar desafíos en tiempo y forma </li>
              </ul>
              <br><br><br>
              <div class="d-flex align-items-center justify-content-center">
                <!-- <a class="btn btn-dark me-2 " href="#date"><h2>Ver Fechas</h2></a> -->
              </div>
              
              
            </div>
            </div>
          </div>
        </div>     
       
      </div>

      <!-- formas de pago -->
      <div class="navbar navbar-primary bg-info p-3">
        <div class="container-fluid">
          <div class="col-lg-6 col-md-6 col-sm-12 column-item text-white">
            <!-- <h2 class="form-subs__title wow fadeIn" data-wow-duration="1s" data-wow-delay="0.002s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.002s; animation-name: fadeIn;"> Escoge la Mejor Forma de Pago </h2> -->
            <p class="form-subs__sub"></p>
         </div>
         <div class="d-flex align-items-center justify-content-center">
           <img src="../../../assets/img/pago-seguro.png" class="img-fluid" alt="" srcset="">         
         
        </div>
        </div>
      </div>

      <!-- fechas -->

      <div class="date p-5">
        <h2 id="date" class="p-3">Fechas</h2>

        <!-- Default dropup button -->
        <div class="d-flex ">

          
          <select class="form-select" style="width: 8rem;" aria-label="Default select example p-5">
            <option selected>Mes</option>
            <!-- <option value="1">Enero</option> -->
            <option value="2">Mayo</option>
            <!-- <option value="3">Septiembre</option> -->
          </select>
  
            <select class="form-select" style="width: 8rem;" aria-label="Default select example p-5">
              <option selected>Jornada</option>
              <!-- <option value="1">Mañana</option> -->
              <!-- <option value="2">Tarde</option> -->
              <option value="3">Noche</option>
              <!-- <option value="3">Sabados</option> -->
            </select>
          
        </div>

        <div class="row row-cols-1 row-cols-md-4 g-4 ">
          <div class="col">
            <div class="card border-0">             
              <div class="card-body">                
                <h5 class="card-title">Mayo</h5>
                <p class="card-text">Comienza el 23/05</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-0">
              
              <div class="card-body">
                <h5 class="card-title">Duración</h5>
                <p class="card-text">16 Semanas</p>
              </div>
            </div>
          </div>
         
          <div class="col">
            <div class="card border-0">
              
              <div class="card-body">
                <h5 class="card-title">Lunes a Viernes</h5>
                <p class="card-text">de 6:00pm a 10:pm</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card border-0">
              
              <div class="card-body">
                <h5 class="card-title"><a class="btn btn-dark me-2 " href="#">Seleccionar Fecha</a></h5>
              
              </div>
            </div>
          </div>
        </div>        

        
        
        </div>    
      
      

<!-- preguntas Frecuentes -->
    <div class="p-5 ">
        <h2>Preguntas Frecuentes</h2>

        <div class="bundle__content">
          <div class="faqs faqs--course-single" id="faqs">
             <div class="panel faqs__item">
                <div class="faqs__heading">
                   <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#answer1" aria-expanded="true">¿Cuál es el costo, día y horas del curso?<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                   </h4>
                </div>
                <div class="panel-collapse collapse in" id="answer1" aria-expanded="true" style="">
                   <div class="faqs__body">
                                                       El curso de <strong>FrontEnd Essentials</strong> inicia el <strong>04-06-2019</strong>, en los dias <strong>Martes y Jueves</strong> con el horario <strong>7:00 PM - 10:00 PM</strong>
                   </div>
                </div>
             </div>
             <div class="panel faqs__item">
                <div class="faqs__heading">
                   <h4 class="faqs__title"><a class="faqs__link collapsed" data-toggle="collapse" data-parent="#faqs" href="#answer2" aria-expanded="false">¿Cuáles son los métodos de pago?<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                   </h4>
                </div>
                <div class="panel-collapse collapse " id="answer2" aria-expanded="false">
                   <div class="faqs__body">
                      Podrás reservar tu vacante con S/. 100 y pagar progresivamente por módulo, o acceder a un descuento por el pago completo de todos los módulos retirando el pago de la matrícula.
                   </div>
                </div>
             </div>
             <div class="panel faqs__item">
                <div class="faqs__heading">
                   <h4 class="faqs__title"><a class="faqs__link collapsed" data-toggle="collapse" data-parent="#faqs" href="#answer3" aria-expanded="false">¿Por qué certificarte con <span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                   </h4>
                </div>
                <div class="panel-collapse collapse " id="answer3" aria-expanded="false">
                   <div class="faqs__body">
                      Ourlimm Training Center es una iniciativa que desea promover la educación en las tecnologías de la información, encofándonos en todas las personas que deseen mejorar y tener la oportunidad de entrar al mundo de la tecnología.
                   </div>
                </div>
             </div>
             <div class="panel faqs__item">
                <div class="faqs__heading">
                   <h4 class="faqs__title"><a class="faqs__link collapsed" data-toggle="collapse" data-parent="#faqs" href="#answer4" aria-expanded="false">¿Puedo convalidar este curso con un diplomado?<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                   </h4>
                </div>
                <div class="panel-collapse collapse " id="answer4" aria-expanded="false">
                   <div class="faqs__body">
                      La mayoria de nuestros cursos individuales guardan relación con un diplomado, pero puede revisar nuestra sección de diplomados y encontrar el que desee especializarse. 
                   </div>
                </div>
             </div>
          </div>
       </div>