<div class="container-fluid-expand-lg ">
    <nav class="navbar navbar-light bg-light p-5">
        <div class="container-fluid">
          <h1 class="navbar-text text-dark ">
            FrontEnd Advanced
          </h1> <br>
          <P class="fs-4">Aprenderás a manejar AngularJS, VueJS y React JS que permitirán al desarrollador formar un marco de estándar en sus proyectos personales y profesionales..</P>
        </div>
        
      </nav>

      <div class="p-5 bg-info text-white">
        <h2 >Conoce Un Poco Más Sobre El Curso</h2>
        <p class="fs-5">El presente curso ha sido diseñado con el objetivo de abarcar todos los aspectos esenciales para el desarrollo e integración de los frameworks AngularJS, VueJS y React JS que permitirán al desarrollador formar un marco de estándar en sus proyectos personales y profesionales en el mercado competitivo del perfil Front-End Advanced.</p>
      </div>

      <div class="bg-ligth">
        <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
          <div class="col">
            <div class="card">
              <img src="../../../assets/img/cursos/bundle-icon-2.png" style="width: 3rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">1 Módulos</h5>
                <p class="card-text">Estructurados en base a temas y dificultad</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../../../assets/img/cursos/bundle-icon-1.png" style="width: 3rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Proyecto</h5>
                <p class="card-text">Diseñado para ayudarlo a practicar y aplicar las habilidades que aprende</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../../../assets/img/cursos/bundle-icon-3.png" style="width: 3rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Certificado</h5>
                <p class="card-text">Destaque sus nuevas habilidades en su currículum o LinkedIn.</p>
              </div>
            </div>
          </div>        
        </div>
      </div>

      
<!-- perfil profesional -->
      <div class="p-5 bg-info text-white" >
        <h2> <i>PERFIL PROFESIONAL</i> </h2>
        <p class="fs-3">Al finalizar el curso de FrontEnd Advanced podrás:</p>
        <ul class="fs-4">
          <li>Aprenderás a crear complejos sitios web desde cero</li>
          <li>Aprenderás a trabajar con la grid de los frameworks para crear sitios web
            modernos que antes no podíamos..</li>
          <li>Aprenderás a trabajar con todos y cada uno de los componentes de los
            frameworks para crear sliders, galerÍas, formularios y casi cualquier cosa
            que se te ocurra en un sitio web</li>
          <li>Aprenderás a trabajar con los frameworks y tus proyectos para combinarlo
            con tus propios diseños</li>
          <li>Aprenderás a crear sitios web que se adaptan a cualquier pantalla de
            dispositivo.</li>         
        </ul>
      </div>

      <!-- temario -->

      <div class="p-5 fs-6 ">
        <h2><i>TEMARIO</i></h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card">
              
              <div class="card-body">
                <ul>
                  <li>Las nuevas arquitecturas de las aplicaciones tradicionales y las Single Page
                    Aplication.</li>
                  <li>NodeJS y npm.</li>
                  <li>Recapitulación de Javascript.</li>
                  <li>¿Qué es un componente en Angular?</li>
                  <li>Directivas condicionales y bucles.</li>
                  <li>Propiedades y tipos de datos en TypeScript y Angular .</li>
                  <li>Inclusión de archivos JavaScript en diferentes componentes.</li>
                  <li>Proyecto Final: Desarrollo de una tienda virtual.</li>
                </ul>
                
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              
              <div class="card-body">
                <ul>
                  <li>Introducción: ¿Qué es VueJS?</li>
                  <li>Directivas y eventos</li>
                  <li>Directivas Personalizadas</li>
                  <li>Servicios y consumos.</li>
                  <li>Proyecto Final: Desarrollo del BackOffice de una tienda virtual.</li>
                 
                </ul>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              
              <div class="card-body">
                <ul>
                  <li>Introducción: ¿Qué es ReactJS?</li>
                  <li>Conceptos básicos.</li>
                  <li> Renderizado condicional y listas</li>
                  <li>Eventos y Formularios</li>
                  <li> Componentes y buenas prácticas.</li>
                  <li> Proyecto Final: Sistema de inventario.</li>
                  
                </ul>
              </div>
            </div>
          </div>
         
        </div>
      </div>
<!-- dirigido a  -->
      <div class="p-5 text-center bg-info text-white">
        <h2 >Dirigido A</h2>
        <img src="../../../assets/img/banner.png" class="img-fluid" alt="..." srcset="">
        <p class="fs-5">Emprendedores que deseen diseñar su propia plataforma web, Analistas, Ingenieros y Especialistas que desean tener una visión global del contexto de la tecnología JavaScript enfocada a desarrollo web, desarrolladores que cuentan con conocimientos básicos Front-end (HTML+CSS+JS) y público en general interesado en aprender sobre los frameworks.</p>
      </div>
<!-- metodologia  -->
      <div class="p-5">
          <h2>Metodología y Certificación</h2>
          <p class="fs-5">La metodología de enseñanza tiene un enfoque teórico-práctico, en la que se analizan las diferentes situaciones y problemáticas que surgen al implementación de un sistema de facturación electrónica y cómo optimizar el tiempo de solución, a la vez que se refuerza la teoría brindada en clase. <br><br>

            Al completar el curso satisfactoriamente se otorgará al participante un Certificado en FrontEnd Advanced</p>
      </div>


    <div class="p-5 ">
        <h2>Preguntas Frecuentes</h2>

        <div class="bundle__content">
          <div class="faqs faqs--course-single" id="faqs">
             <div class="panel faqs__item">
                <div class="faqs__heading">
                   <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#answer1" aria-expanded="true">¿Cuál es el costo, día y horas del curso?<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                   </h4>
                </div>
                <div class="panel-collapse collapse in" id="answer1" aria-expanded="true" style="">
                   <div class="faqs__body">
                                                       El curso de <strong>FrontEnd Essentials</strong> inicia el <strong>04-06-2019</strong>, en los dias <strong>Martes y Jueves</strong> con el horario <strong>7:00 PM - 10:00 PM</strong>
                   </div>
                </div>
             </div>
             <div class="panel faqs__item">
                <div class="faqs__heading">
                   <h4 class="faqs__title"><a class="faqs__link collapsed" data-toggle="collapse" data-parent="#faqs" href="#answer2" aria-expanded="false">¿Cuáles son los métodos de pago?<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                   </h4>
                </div>
                <div class="panel-collapse collapse " id="answer2" aria-expanded="false">
                   <div class="faqs__body">
                      Podrás reservar tu vacante con S/. 100 y pagar progresivamente por módulo, o acceder a un descuento por el pago completo de todos los módulos retirando el pago de la matrícula.
                   </div>
                </div>
             </div>
             <div class="panel faqs__item">
                <div class="faqs__heading">
                   <h4 class="faqs__title"><a class="faqs__link collapsed" data-toggle="collapse" data-parent="#faqs" href="#answer3" aria-expanded="false">¿Por qué certificarte con <span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                   </h4>
                </div>
                <div class="panel-collapse collapse " id="answer3" aria-expanded="false">
                   <div class="faqs__body">
                      Ourlimm Training Center es una iniciativa que desea promover la educación en las tecnologías de la información, encofándonos en todas las personas que deseen mejorar y tener la oportunidad de entrar al mundo de la tecnología.
                   </div>
                </div>
             </div>
             <div class="panel faqs__item">
                <div class="faqs__heading">
                   <h4 class="faqs__title"><a class="faqs__link collapsed" data-toggle="collapse" data-parent="#faqs" href="#answer4" aria-expanded="false">¿Puedo convalidar este curso con un diplomado?<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                   </h4>
                </div>
                <div class="panel-collapse collapse " id="answer4" aria-expanded="false">
                   <div class="faqs__body">
                      La mayoria de nuestros cursos individuales guardan relación con un diplomado, pero puede revisar nuestra sección de diplomados y encontrar el que desee especializarse. 
                   </div>
                </div>
             </div>
          </div>
       </div>

